[submodule ".vim/bundle/Auto-Pairs"]
	path = .vim/bundle/Auto-Pairs
	url = https://github.com/vim-scripts/Auto-Pairs.git
[submodule ".vim/bundle/EasyGrep"]
	path = .vim/bundle/EasyGrep
	url = https://github.com/vim-scripts/EasyGrep.git
[submodule ".vim/bundle/matchit.zip"]
	path = .vim/bundle/matchit.zip
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = https://github.com/vim-scripts/neocomplcache.git
[submodule ".vim/bundle/rails.vim"]
	path = .vim/bundle/rails.vim
	url = https://github.com/vim-scripts/rails.vim.git
[submodule ".vim/bundle/taglist.vim"]
	path = .vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/vim-scripts/ctrlp.vim.git
[submodule ".vim/bundle/Mark"]
	path = .vim/bundle/Mark
	url = https://github.com/vim-scripts/Mark.git
[submodule ".vim/bundle/minibufexpl.vim"]
	path = .vim/bundle/minibufexpl.vim
	url = https://github.com/vim-scripts/minibufexpl.vim.git
[submodule ".vim/bundle/OmniCppComplete"]
	path = .vim/bundle/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule ".vim/bundle/sessionman.vim"]
	path = .vim/bundle/sessionman.vim
	url = https://github.com/vim-scripts/sessionman.vim.git
[submodule ".vim/bundle/The-NERD-tree"]
	path = .vim/bundle/The-NERD-tree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
